@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content">
    <h1 class="display-4 text-center">Welcome to Reality Redefined</h1>
    <div class="product-group">
        <div class="card text-center">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Existence at it's finest</h5>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
        <div class="card text-center">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">YES</h5>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    <div id="about">
        <h1 class="display-6 text-center">About Us</h1>
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Dolor purus non enim 
            praesent elementum. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum. 
            Duis ut diam quam nulla porttitor massa id neque. Ullamcorper a lacus vestibulum 
            sed arcu non.
        </p>
    </div>
</div>